.header-container{
    display: flex;
    height: 50px;
    padding: var(--spacing-small);
    background-color: var(--color-medium);
}

.header-counter{
    margin-left: auto;
    padding-right: var(--spacing-small);
    font-weight: bolt;
    cursor: pointer;
}

.sign_in_header, .sign_up_header{
    margin-left: 5px; /*auto*/
    padding-right: var(--spacing-small);
    font-weight: bolt;
    cursor: pointer;  
}
.sign_in_header:hover,.sign_up_header:hover{
    font-weight: bolder;
}